.App {
  text-align: center;
  font-family: monospace;
}
body {
  color: #b1b1b1;
  font-size: 30px;
}
html {
  background-color: #000;
}
td:nth-child(3),
td:nth-child(6) {
  border-right: solid 1px red;
}
tr:nth-child(3) td,
tr:nth-child(6) td{
  border-bottom: solid 1px red;
}
.SudokuSlot {
  width: 2rem;
  height: 2rem;
  border: solid 1px;
}
.SudokuSlot--active {
  border-color: white;
}
.SudokuSlot--selected {
  animation: selected .3s infinite;
}
.SudokuNumPad {
  display: flex;
}
.SudokuNumPad__number {
  
}

@keyframes selected {
  to {
  border-color: aqua;
    
  }
}